.post {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    background-color: #686767b7;
    justify-content: center;
}
.contendor-post {
    margin: auto 0px auto 0px;
    height: 60dvh;
    display: flex;
    flex-direction: column;
    border: 3px white outset;
    border-radius: 10px;
    padding: 5%;
    background-color: #d7d6d6;
}
.nueva-nota-cabecera {
    text-align: center;
    margin-bottom: 25px;
}
.nuevaNota {
    height: 40dvh;
    width: 60dvw;
    resize: none;
    overflow-y: auto;
    margin-bottom: 25px;
    font-size: 2em;
}
.cerrar{
    width: fit-content;
    margin: auto auto auto 0px;
}
.addNota {
    width: fit-content;
    margin: auto 0px auto auto;
}
html{
    max-width: 90dvw;
    max-height: 90dvh;
    overflow: hidden;
}
header {
    height: 10dvh !important;
    max-height: 10dvh !important;
    width: 100dvw;
    max-width: 100dvw;
}
.dropdown-item, .dropdown-menu {
    width:fit-content !important;
    max-width: max-content !important;
}
nav {
    height: 100%;
}
main {
    max-height: 80dvh !important;
    height: 100dvh;
    width: 100dvw;
    max-width: 100dvw;
    overflow-y: auto;
}
.feed {
    width: 80%;
    height: fit-content;
    min-height: 100%;
    margin: 0px auto 0px auto;
    border-left: #afafaf 1px solid;
    border-right: #afafaf 1px solid;
    padding-top: 25px;
    
}
.contenedor-nota{
    height: fit-content;
    width: 95%;
    margin: 0px auto 0px auto;
    margin-bottom: 10px;
    border: 3px white outset;
    border-radius: 10px;
    background-color: #d7d6d6;
    padding: 35px;
    display: flex;
    flex-direction: column;
}
.nota {
    text-align: justify;
    margin: 5px;
}
.separador{
    width: 80%;
    height: 25%;
    margin: 0px auto 0px auto;
    background-color: #000;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.datos {
    width: 80%;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
}
footer {
    height: 10dvh !important;
    max-height: 10dvh !important;
    width: 100dvw;
    max-width: 100dvw;
    display: flex;
}
.btn-nueva-nota {
    width: fit-content;
    height: fit-content;
    margin: auto 0px auto auto;
    margin-right: 10px;
}
.letras-hover-a-gris:hover {
    color:#afafaf !important;
}